altgraph==0.16.1
asgiref==3.2.7
astroid==2.0.4
astunparse==1.6.3
beautifulsoup4==4.6.3
bottle==0.12.16
bottle-sqlite==0.1.3
bs4==0.0.1
cachetools==4.1.1
certifi==2018.8.24
chardet==3.0.4
colorama==0.4.0
cx-Freeze==5.1.1
Django==3.0.5
djangorestframework==3.11.0
et-xmlfile==1.0.1
future==0.17.1
gast==0.3.3
google-auth==1.20.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.30.0
h5py==2.10.0
idna==2.7
IMAPClient==2.1.0
importlib-metadata==1.7.0
isort==4.3.4
jdcal==1.4
Keras-Preprocessing==1.1.2
lazy-object-proxy==1.3.1
lxml==4.2.5
macholib==1.11
Markdown==3.2.2
mccabe==0.6.1
oauthlib==3.1.0
openpyxl==2.5.7
opt-einsum==3.3.0
pefile==2018.8.8
Pillow==5.2.0
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.38
pygame==1.9.4
PyInstaller==3.4
PyJWT==1.6.4
pylint==2.1.1
PyMsgBox==1.0.6
PyPDF2==1.26.0
pyperclip==1.6.4
PyScreeze==0.1.18
PySocks==1.6.8
python-docx==0.8.7
PyTweening==1.0.3
pytz==2018.5
pywin32-ctypes==0.2.0
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scipy==1.4.1
selenium==3.14.0
Send2Trash==1.5.0
six==1.11.0
sqlparse==0.3.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.5.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
twilio==6.16.4
typed-ast==1.1.0
urllib3==1.23
waitress==1.3.0
WebOb==1.8.5
WebTest==2.0.33
wrapt==1.12.1
zipp==3.1.0
