{% extends 'sweettweet/base.html' %}

{% block content %}
<div class="tweet-new">
    {% if user.is_authenticated %}
    <form action="{% url 'tweets:tweet_create'%}" method="post" class="post-form">{%csrf_token%}
        {{ tweet_form.as_p }}
        <button type="submit">Tweet</button>
    </form>
    {% endif %}
</div>
<div class="tweets">
    {% for tweet in tweets %}
    <a href="{% url 'tweets:tweet_detail' tweet.pk %}">
        <div class="tweet">
            <p>{{tweet.text}}</p>
            {% if tweet.image %}
            <img src="{{tweet.media.url}}">
            {% endif %}
            <form action="{% url 'tweets:tweet_like' %}" method="post" class="post-form">{%csrf_token%}
                <input type="hidden" name="tweet_id" value="{{tweet.id}}">
                <input type="hidden" name="previous_page" value="{{request.path}}">
                <button type="submit" class="btn">{{tweet.likes.all|length}}</button>
            </form>
            <form action="{% url 'tweets:tweet_retweet' %}" method="post" class="post-form">{%csrf_token%}
                <input type="hidden" name="tweet_id" value="{{tweet.id}}">
                <input type="hidden" name="previous_page" value="{{request.path}}">
                <button type="submit" class="btn">{{tweet.retweets.all|length}}</button>
            </form>
            <span>{{tweet.comments.count}}</span>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}